:host {
    display: block;
    padding: 1rem;
}

.grid {
    min-height: calc(100vh - 2rem);
}

.p-card {
    height: 100%;
}

::ng-deep .p-panelmenu .p-panelmenu-header-action {
    justify-content: flex-start;
    gap: 0.5rem;
}