<div class="flex-grow min-h-[calc(95vh-95px)] bg-cover bg-center flex justify-center items-center p-8 shadow-lg"
    style="background-image: url('/fondo-bienvenida.jpeg');">
    <div class="text-center space-y-6 bg-white bg-opacity-70 p-6 rounded-md">
        <h2 class="text-4xl font-bold text-gray-800">Bienvenido</h2>

        <p-divider styleClass="!border-gray-300 !my-4"></p-divider>

        <p class="text-lg text-gray-600 leading-relaxed">
            Gracias por visitar la Fundación Mier y Pesado. Estamos comprometidos con nuestra misión de ayudar a la
            comunidad.
        </p>

        <p-button label="Conoce más" icon="pi pi-info-circle" styleClass="p-button-rounded p-button-outlined mt-6"
            class="!border-blue-500 !text-blue-500 hover:!bg-blue-50"></p-button>
    </div>
</div>