<div class="card">
    <h2>Lista de Niveles Académicos</h2>
    <p-table [columns]="cols" [value]="academicLevels" [tableStyle]="{ 'min-width': '70rem' }">
        <ng-template #header let-columns>
            <tr>
                <th *ngFor="let col of columns">
                    {{ col.header }}
                </th>
            </tr>
        </ng-template>
        <ng-template #body let-rowData let-columns="columns">
            <tr>
                <td *ngFor="let col of columns">
                    <ng-container *ngIf="col.field === 'registration_dt'; else defaultCell">
                        {{ rowData[col.field] | date:'shortDate' }}
                    </ng-container>
                    <ng-template #defaultCell>
                        {{ rowData[col.field] }}
                    </ng-template>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>