<div class="card">
    <h2>Lista de Materias</h2>
    <p-table [columns]="cols" [value]="subjects" [tableStyle]="{ 'min-width': '80rem' }">
        <ng-template #header let-columns>
            <tr>
                <th *ngFor="let col of columns">
                    {{ col.header }}
                </th>
            </tr>
        </ng-template>
        <ng-template #body let-rowData let-columns="columns">
            <tr>
                <td *ngFor="let col of columns">
                    <ng-container *ngIf="col.field === 'createdAt' || col.field === 'updatedAt'; else defaultCell">
                        {{ rowData[col.field] | date:'shortDate' }}
                    </ng-container>
                    <ng-template #defaultCell>
                        <ng-container *ngIf="col.field === 'isActive'; else regularCell">
                            <i
                                [class]="rowData[col.field] ? 'pi pi-check-circle text-green-500' : 'pi pi-times-circle text-red-500'"></i>
                        </ng-container>
                        <ng-template #regularCell>
                            {{ rowData[col.field] }}
                        </ng-template>
                    </ng-template>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>