<div class="py-11">
    <div class="card flex justify-center">
        <form [formGroup]="subjectForm" (ngSubmit)="onSubmit()" class="flex flex-col gap-4 w-full sm:w-96">
            <div class="flex flex-col gap-4">
                <p-floatlabel>
                    <input id="subjectName" pInputText formControlName="subjectName"
                        [invalid]="isInvalid('subjectName')" />
                    @if (isInvalid('subjectName')) {
                    <p-message severity="error" size="small" variant="simple">
                        El nombre de la materia es requerido.
                    </p-message>
                    }
                    <label for="subjectName">Nombre de la Materia</label>
                </p-floatlabel>

                <p-floatlabel>
                    <input id="alias" pInputText formControlName="alias" [invalid]="isInvalid('alias')" />
                    @if (isInvalid('alias')) {
                    <p-message severity="error" size="small" variant="simple">
                        El alias es requerido.
                    </p-message>
                    }
                    <label for="alias">Alias</label>
                </p-floatlabel>

                <button pButton type="submit" label="Crear Materia" [disabled]="subjectForm.invalid"></button>
            </div>
        </form>

        <p-toast position="top-right"></p-toast>

        <p-dialog header="Error" [modal]="true" [(visible)]="showErrorDialog" [style]="{ width: '25rem' }"
            [position]="'center'">
            <span class="text-surface-500 dark:text-surface-400 block mb-8">
                La materia no se cargó correctamente. Por favor verifique los datos.
            </span>
            <div class="flex justify-end gap-2">
                <p-button label="Aceptar" (click)="showErrorDialog = false"></p-button>
            </div>
        </p-dialog>
    </div>
</div>